---
layout: default
---

<div id="cover" class="container-fluid"
     {% if site.image %}style="background-image:url({{ site.image }});"{% endif %}>
    {% if paginator.page == 1 %}
    {% endif %}
    <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description | newline_to_br }}</p>
    </div>
</div>

<header class="site-category">
  <ul>
    
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    
</ul>
</header>
<ul id="post-list">
    {% for post in paginator.posts %}
        {% include item.html %}
    {% endfor %}
</ul>

<div id="lightbox">
    <div id="lightbox-image"></div>
</div>

