---
layout: default
---
<div id="content" class="container post" role="main">
    <div id="post-content">{{ content }}</div>
    <div id="post-footer">
        {% assign author = site.authors | where: 'name', page.author | first %}
        <a id="post-author" href="{{ author.url }}">
            <div id="author-image" style="background-image:url({{ author.image | default: '' }});">
                <span class="sr-only">{{ author.name }}'s profile image</span>
            </div>
            <p id="author-name">{{ author.name }}</p>
        </a>
        <p id="post-date">{{ page.date | date: '%Y-%m-%d %H:%M' }}</p>
        <a id="post-more" href="{{ author.url }}">
            <span>Read more posts by this author</span>
        </a>
    </div>
</div>

<div id="lightbox">
    <div id="lightbox-image"></div>
</div>

